<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSemana3="1519782685">
    <link rel="stylesheet" href="/css/style.css">
    <title>PWeb - by JeffersonNascimento</title>
</head>

<body>
    <ul>
		<li><a href="/">Início</a></li>
		<hr />
		<li><a class="active" href="/adicionarPessoa">Adicionar Pessoa</a></li>
		<li><a href="/listarPessoas">Listar Pessoas</a></li>
		<hr />
		<li><a href="/public/noticias.html">Notícias</a></li>
		<li><a href="/public/sobre.html">Sobre</a></li>
		<li><a href="/public/contato.html">Contato</a></li>
	</ul>

    <div style="margin-left:25%;padding:1px 16px;height:1000px;">

        <h1>Formulário para cadastro de pessoas:</h1>

        <form method="get" action="adicionadaComSucesso.html">
            <label for="nomeCompleto">Nome Completo *:</label>
            <input type="text" name="nomeCompleto" placeholder="Seu nome completo" required><br><br>
            <label for="dataNascimento">Data de Nascimento *:</label>
            <input type="date" name="dataNascimento" placeholder="dd/mm/aaaa" required><br><br>
            <label for="email">e-Mail *:</label>
            <input type="text" name="email" placeholder="nome@dominio.com" required><br><br>

            <label for="sexo">Sexo *:</label><br><br>
            <input type="radio" name="sexo" value="masculino" required>
            <label for="Masculino">Masculino</label><br><br>
            <input type="radio" name="sexo" value="feminino" required>
            <label for="feminino">Feminino</label><br><br>
            <input type="radio" name="sexo" value="neutro" required>
            <label for="indefinido">Não informar</label><br><br>

            <input type="reset" class="button" name="btnLimpar" value="Limpar">
            <input type="submit" class="button" name="btnEnviar" value="Cadastrar!">
        </form>

        <p>* Campo Obrigatório</p>

</body>

</html>