<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta codigoSemana2="1519782685">
    <link rel="stylesheet" href="style/style.css">
    <title>PWeb - by JeffersonNascimento</title>
</head>

<body>
    <ul>
        <li><a href="index.html">Início</a></li><hr>
        <li><a href="noticias.html">Canais de Notícias</a></li><hr>
        <li><a href="adicionarPessoa.html">Adicionar Pessoa</a></li>
        <li><a href="listarPessoas.html">Listar Pessoas</a></li><hr>
        <li><a href="sobre.html">Sobre o Site</a></li>
        <li><a href="contato.html">Mande um e-Mail</a></li>

    </ul>

    <div style="margin-left:25%;padding:1px 16px;height:1000px;">

        <h1>Formulário para edição de pessoas:</h1>

        <form method="get" action="adicionadaComSucesso.html">
            <label for="nomeCompleto">Nome Completo *:</label>
            <input type="text" name="nomeCompleto" placeholder="Seu nome completo" required><br><br>
            <label for="dataNascimento">Data de Nascimento *:</label>
            <input type="date" name="dataNascimento" placeholder="dd/mm/aaaa" required><br><br>
            <label for="email">e-Mail *:</label>
            <input type="text" name="email" placeholder="nome@dominio.com" required><br><br>

            <label for="sexo">Sexo *:</label><br><br>
            <input type="radio" name="sexo" required>
            <label for="Masculino">Masculino</label><br><br>
            <input type="radio" name="sexo" required>
            <label for="feminino">Feminino</label><br><br>
            <input type="radio" name="sexo" required>
            <label for="indefinido">Não informar</label><br><br>

            <input type="reset" class="button" value="Limpar">
            <input type="submit" class="button" value="Cadastrar!">
        </form>

        <p>* Campo Obrigatório</p>

</body>

</html>
