<!DOCTYPE html>
<html lang="pt_br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSemana3="1653197272">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Adicionar Cliente</title>
</head>

<body>
	<div class="topnav" id="myTopnav">
		<a href="/" class="active">Início</a>
		<div class="dropdown">
			<button class="dropbtn"> Cliente <i class="active"></i></button>
			<div class="dropdown-content">
				<a href="/adicionarCliente">Adicionar Cliente</a>
				<a href="/listarClientes">Listar Clientes</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn"> Produto <i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="/adicionarProduto">Adicionar Produto</a>
				<a  href="/listarProdutos">Listar Produtos</a>
			</div>
		</div>
		<a  href="/public/sobre.html">Sobre</a>
		<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<div style="margin-left: 25%; padding: 1px 16px; height: 1000px;">

		<h1>Adicionar Cliente:</h1>

		<form method="POST" th:object="${cliente}"
			th:action="@{/adicionarCliente}">

			<p>
				Nome Completo *: <input type="text" placeholder="Seu nome completo"
					th:field="*{nome}" required />
			</p>
			<p>
				e-Mail *: <input type="text" placeholder="nome@dominio.com"
					th:field="*{email}" required />
			</p>

			<p>Gênero *:</p>
			<p>
				<input type="radio" name="genero" value="Masculino"
					th:field="*{genero}" required />Masculino
			</p>
			<p>
				<input type="radio" name="genero" value="Feminino"
					th:field="*{genero}" required />Feminino
			</p>
			<p>
				<input type="radio" name="genero" value="Não Informado"
					th:field="*{genero}" required />Não informar
			</p>
			<p>
				Telefone *: <input type="text" placeholder="(xx) xxxx-xxxx"
					th:field="*{telefone}" required />
			</p>
			<p>
				UF *: <input type="text" placeholder="Estado"
					th:field="*{uf}" required />
			</p>
			<p>
				CEP *: <input type="text" placeholder="CEP"
					th:field="*{cep}" required />
			</p>
			<p>
				Cidade *: <input type="text" placeholder="Cidade"
					th:field="*{cidade}" required />
			</p>
			<p>
				Bairro *: <input type="text" placeholder="Bairro"
					th:field="*{bairro}" required />
			</p>
			<p>
				Rua *: <input type="text" placeholder="Rua"
					th:field="*{rua}" required />
			</p>
			<p>
				Número *: <input type="text" placeholder="Número de residência"
					th:field="*{numero}" required />
			</p>
			

			<input type="reset" class="button button12px" value="Limpar">
			<input type="submit" class="button button12px" value="Cadastrar!">
		</form>

		<p>* Campo Obrigatório</p>
	</div>
	
	<script>
	function myFunction() {
  		var x = document.getElementById("myTopnav");
  		if (x.className === "topnav") {
    		x.className += " responsive";
  		} else {
    		x.className = "topnav";
  		}
	}
	</script>

</body>

</html>