<!DOCTYPE html>
<html lang="pt_br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSemana3="1938479512">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Adicionar Produto</title>
</head>

<body>
	<div class="topnav" id="myTopnav">
		<a href="/">Início</a>
		<div class="dropdown">
			<button class="dropbtn">Cliente</button>
			<div class="dropdown-content">
				<a href="/adicionarCliente">Adicionar Cliente</a> <a
					href="/listarClientes">Listar Clientes</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Produto</button>
			<div class="dropdown-content">
				<a class="active" href="/adicionarProduto">Adicionar Produto</a> <a
					href="/listarProdutos">Listar Produtos</a>
			</div>
		</div>
		<a href="/public/contato.html">Contato</a>
		<a href="/public/sobre.html">Sobre</a> <a href="javascript:void(0);"
			style="font-size: 15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<div>
		<center>
			<h1>Adicionar Produto</h1>
		</center>
	</div>

	<form method="POST" th:object="${produto}"
		th:action="@{/adicionarProduto}">
		<div id="box">

			<p>
				Nome do Produto <input type="text" placeholder="Nome do produto"
					th:field="*{nomeProduto}" required />
			</p>
			<p>
				Marca <input type="text" placeholder="Marca do produto"
					th:field="*{marca}" required />
			</p>
			<p>
				Preço <input type="text" placeholder="R$ 0.00" th:field="*{preco}"
					required />
			</p>
			<p>
				Altura <input type="text" placeholder="Ex.: 1.60 cm"
					th:field="*{altura}" required />
			</p>
			<p>
				Largura <input type="text" placeholder="Ex.: 0.30 cm"
					th:field="*{largura}" required />
			</p>
			<p>
				Profundidade <input type="text" placeholder="Ex.:0.30 cm"
					th:field="*{profundidade}" required />
			</p>
			<p>
				Peso <input type="text" placeholder="Ex.: 10 kl" th:field="*{peso}"
					required />
			</p>
			<p>
				Imagem
				<input type=file>
				<img />
			</p>

			<input type="reset" value="Limpar"> <input type="submit"
				value="Cadastrar">
	</form>

	<p>* Campo Obrigatório</p>
	</div>
	</div>

	<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>

	<script>
		function readURL(input) {
			if (input.files && input.files[0]) {
				var reader = new FileReader();

				reader.onload = function(e) {
					$img = $('<img/>').attr('src', e.target.result);
					$(input).after($img);
				}

				reader.readAsDataURL(input.files[0]);
			}
		}

		function verificaMostraBotao() {
			$('input[type=file]').each(function(index) {
				if ($('input[type=file]').eq(index).val() != "")
					$('.hide').show();
			});
		}

		$('body').on("change", "input[type=file]", function() {
			verificaMostraBotao();
			readURL(this);
		});

		$('.hide').on("click", function() {
			$(document.body).append($('<input />', {
				type : "file"
			}).change(verificaMostraBotao));
			$('.hide').hide();
		});
	</script>

</body>

</html>