<!DOCTYPE html>
<html lang="pt_br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSemana3="1938479512">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Cliente</title>
</head>

<body>
	<div class="topnav" id="myTopnav">
		<a href="/">Início</a>
		<div class="dropdown">
			<button class="dropbtn">Cliente</button>
			<div class="dropdown-content">
				<a href="/adicionarCliente">Adicionar Cliente</a> <a class="active"
					href="/listarClientes">Listar Clientes</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Produto</button>
			<div class="dropdown-content">
				<a href="/adicionarProduto">Adicionar Produto</a> <a
					href="/listarProdutos">Listar Produtos</a>
			</div>
		</div>
		<a href="/public/contato.html">Contato</a> <a
			href="/public/sobre.html">Sobre</a> <a href="javascript:void(0);"
			style="font-size: 15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<div>
		<center>
			<h1>Cliente</h1>
		</center>
	</div>

	<div style="overflow-x: auto;">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome Completo</th>
					<th>e-Mail</th>
					<th>Gênero</th>
					<th>Telefone</th>
					<th>UF</th>
					<th>CEP</th>
					<th>Cidade</th>
					<th>Bairro</th>
					<th>Rua</th>
					<th>Número</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<!-- <tr th:each="cliente: ${cliente}"> -->
				<tr>
					<td th:text="${cliente.id_cliente}"></td>
					<td th:text="${cliente.nome}"></td>
					<td><a th:href="'mailto:'+${cliente.email}"
						th:text="${cliente.email}"></a></td>
					<td th:text="${cliente.genero}"></td>
					<td th:text="${cliente.telefone}"></td>
					<td th:text="${cliente.uf}"></td>
					<td th:text="${cliente.cep}"></td>
					<td th:text="${cliente.cidade}"></td>
					<td th:text="${cliente.bairro}"></td>
					<td th:text="${cliente.rua}"></td>
					<td th:text="${cliente.numero}"></td>

					<td><a
						th:href="@{/editar/{id_cliente}(id_cliente=${cliente.id_cliente})}">Editar</a></td>
					<td><a
						th:href="@{/remover/{id_cliente}(id_cliente=${cliente.id_cliente})}">Remover</a></td>
				</tr>
			</tbody>
		</table>
	</div>


	<h1>Cadastrar Dependente</h1>
	<form method="POST" action="dependente/adicionarDependente">
		<div class="box">
			<h3>Dados Pessoais</h3>
			<label for="fname">Nome Completo</label> <input type="text"
				placeholder="Seu nome completo" name="nome_dependente" required />
			<label for="fname">Data de Nascimento</label> <input type="date"
				placeholder="dd/mm/aaaa" name="data_nascimento" required /> <label
				for="sexo">Gênero</label> <select id="genero" name="genero">
				<option value="" disabled selected="selected">Escolha</option>
				<option value="Masculino">Masculino</option>
				<option value="Feminino">Feminino</option>
				<option value="Não Informar">Não Informar</option>
			</select> <input type="reset" value="Limpar"> <input type="submit"
				value="Cadastrar">
		</div>
	</form>

	<!-- 	<div>
		<center>
			<h1>Dependentes</h1>
		</center>
	</div>

	<div style="overflow-x:auto;">
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome Completo</th>
					<th>Data de Nascimento</th>
					<th>Gênero</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="dependente: ${dependentes}">
				<tr>
					<td th:text="${dependente.id}"></td>
					<td th:text="${dependente.nome_dependente}"></td>
					<td th:text="${dependente.data_nascimento}"></td>
					<td th:text="${dependente.genero}"></td>
					
					<td><a th:href="@{/editar/{id}(id=${dependente.id})}">Editar</a></td>
					<td><a th:href="@{/remover/{id}(id=${dependente.id})}">Remover</a></td>
				</tr>
			</tbody>
		</table>
	</div> -->

	<div>
		<form class="form-cep">
			<input class="input-cep" name="input-cep" type="number" maxlength="8"
				placeholder="CEP" autofocus />
			<button class="btn btn-dark btn-form-cep" type="submit">
				<span class="sr-only">Pesquisar</span><i class="fas fa-search"></i>
			</button>
		</form>

		<div class="previsao">
			<p class="localidade">
				<span class="localidade-cidade"></span> / <span
					class="localidade-uf"></span>
			</p>
			<div class="card-tempo">
				<p class="card-tempo-hoje"></p>
				<div class="card-tempo-bloco">
					<p class="card-tempo-temperatura">
						<span class="card-tempo-temperatura-temp"></span>
					</p>
					<p class="card-tempo-condicao"></p>
				</div>
				<div class="card-tempo-caracteristicas">
					<p
						class="card-tempo-caracteristica card-tempo-caracteristicas-umidade">
						<span class="card-tempo-caracteristica-label">Umidade: </span> <span
							class="card-tempo-caracteristica-valor card-tempo-caracteristicas-umidade-valor"></span>
					</p>
					<p
						class="card-tempo-caracteristica card-tempo-caracteristicas-sensacao">
						<span class="card-tempo-caracteristica-label">Sensação: </span> <span
							class="card-tempo-caracteristica-valor card-tempo-caracteristicas-sensacao-valor"></span>
					</p>
					<p
						class="card-tempo-caracteristica card-tempo-caracteristicas-vento">
						<span class="card-tempo-caracteristica-label">Vento: </span> <span
							class="card-tempo-caracteristica-valor card-tempo-caracteristicas-vento-valor"></span>
					</p>
				</div>
			</div>
			<div class="card-tempo-semana">
				<div class="card-tempo-semana-dia semana-dia-1">
					<p class="card-tempo-semana-dia-data"></p>
					<div class="card-tempo-semana-temp-max">
						<span class="sr-only">Máximo:</span> <span
							class="card-tempo-semana-temp-max-val"></span>º
					</div>
					<div class="card-tempo-semana-temp-min">
						<span class="sr-only">Mínimo:</span> <span
							class="card-tempo-semana-temp-min-val"></span>º
					</div>
				</div>

				<div class="card-tempo-semana-dia semana-dia-2">
					<p class="card-tempo-semana-dia-data"></p>
					<div class="card-tempo-semana-temp-max">
						<span class="sr-only">Máximo:</span> <span
							class="card-tempo-semana-temp-max-val"></span>º
					</div>
					<div class="card-tempo-semana-temp-min">
						<span class="sr-only">Mínimo:</span> <span
							class="card-tempo-semana-temp-min-val"></span>º
					</div>
				</div>

				<div class="card-tempo-semana-dia semana-dia-3">
					<p class="card-tempo-semana-dia-data"></p>
					<div class="card-tempo-semana-temp-max">
						<span class="sr-only">Máximo:</span> <span
							class="card-tempo-semana-temp-max-val"></span>º
					</div>
					<div class="card-tempo-semana-temp-min">
						<span class="sr-only">Mínimo:</span> <span
							class="card-tempo-semana-temp-min-val"></span>º
					</div>
				</div>

				<div class="card-tempo-semana-dia semana-dia-4">
					<p class="card-tempo-semana-dia-data"></p>
					<div class="card-tempo-semana-temp-max">
						<span class="sr-only">Máximo:</span> <span
							class="card-tempo-semana-temp-max-val"></span>º
					</div>
					<div class="card-tempo-semana-temp-min">
						<span class="sr-only">Mínimo:</span> <span
							class="card-tempo-semana-temp-min-val"></span>º
					</div>
				</div>

				<div class="card-tempo-semana-dia semana-dia-5">
					<p class="card-tempo-semana-dia-data"></p>
					<div class="card-tempo-semana-temp-max">
						<span class="sr-only">Máximo:</span> <span
							class="card-tempo-semana-temp-max-val"></span>º
					</div>
					<div class="card-tempo-semana-temp-min">
						<span class="sr-only">Mínimo:</span> <span
							class="card-tempo-semana-temp-min-val"></span>º
					</div>
				</div>
			</div>
		</div>

		<div class="waiting"></div>
		<div class="alert alert-erro-consulta">Alguma coisa deu errada.
			O CEP está correto? Se sim, então o problema é interno. Aguarde um
			momentinho até que seja normalizado.</div>
		<div class="alert alert-cep-nao-encontrado">Poxa, não
			encontramos o seu CEP. Ele está correto?</div>
		<div class="informacoes-projeto">
			<div class="informacoes-painel">
				<h2 class="informacoes-painel-titulo">Informações do Projeto</h2>
				<p class="informacoes-painel-descricao">O projeto foi
					desenvolvido por Guilherme Ramos para fins de estudo sobre API.</p>
				<h3 class="informacoes-painel-subtitulo">Descrição</h3>
				<p class="informacoes-painel-paragrafo">O projeto funciona da
					seguinte forma:</p>
				<ol
					class="informacoes-painel-lista informacoes-painel-passos-projeto">
					<li class="painel-lista-item informacoes-painel-passos-item">O
						usuário insere o CEP e clica em "Pesquisar" (ícone da lupa);</li>
					<li class="painel-lista-item informacoes-painel-passos-item">O
						site faz uma requisição ajax para a API da <a
						href="https://viacep.com.br/" target="blank">ViaCep</a>
						(viacep.com.br/ws/CEP-INSERIDO/json). A API retorna alguns dados
						sobre o CEP (se encontrado). Desses dados, pegaremos somente a
						Cidade e o Estado (UF);
					</li>
					<li class="painel-lista-item informacoes-painel-passos-item">Envimos
						a Cidade/UF para outra função, que fará uma requisição à primeira
						API da ClimaTempo. Essa API retorna o ID da cidade em questão;</li>
					<li class="painel-lista-item informacoes-painel-passos-item">Com
						o ID da cidade em mãos, faremos outra requisição. Dessa vez, à API
						da ClimaTempo que retorna, propriamente os dados sobre o a
						condição climática da cidade informada;</li>
					<li class="painel-lista-item informacoes-painel-passos-item">Por
						fim, pasta extrair cada dado do JSON retornado e inseri-lo no
						espaço destinado a ele.</li>
				</ol>
				<h3 class="informacoes-painel-subtitulo">Mais sobre o
					desenvolvedor</h3>
				<p class="informacoes-painel-paragrafo">Saiba onde me encontrar:</p>
				<ul
					class="informacoes-painel-lista informacoes-painel-desenvolvedor">
					<li class="painel-lista-item painel-desenvolvedor-lista-item"><a
						href="https://ramosht.tumblr.com/" target="blank">Blog</a></li>
					<li class="painel-lista-item painel-desenvolvedor-lista-item"><a
						href="https://twitter.com/ramos_ht" target="blank">Twitter</a></li>
					<li class="painel-lista-item painel-desenvolvedor-lista-item"><a
						href="https://github.com/ramosht" target="blank">GitHub</a></li>
					<li class="painel-lista-item painel-desenvolvedor-lista-item"><a
						href="https://codepen.io/ramosht" target="blank">Codepen.io</a></li>
					<li class="painel-lista-item painel-desenvolvedor-lista-item"><a
						href="https://www.instagram.com/ramos.ht/" target="blank">Instagram</a></li>
					<li class="painel-lista-item painel-desenvolvedor-lista-item"><a
						href="https://www.facebook.com/ramosht.guilherme" target="blank">Facebook</a></li>
				</ul>
			</div>
			<button class="informacoes-btn">
				<i class="fas fa-info"></i>
			</button>
		</div>


	</div>
	<script>
		$(function() {
			$(".btn-form-cep").click(function(e) {
				e.preventDefault();
				let cep = $(".input-cep").val();
				$(".input-cep").blur();
				requisicaoCep(cep);
				status = true;
			});
			$(".informacoes-btn").click(function() {
				$(".informacoes-painel").fadeToggle(200);
			});
		});

		function requisicaoCep(cep) {
			$(".waiting").fadeIn(200);
			let url = 'https://viacep.com.br/ws/' + cep + '/json';
			$.get(url, function(data) {
				if (data.hasOwnProperty("erro")) {
					erroConsulta(".alert-cep-nao-encontrado");
				} else {
					let cidade = data.localidade;
					let uf = data.uf;
					$(".localidade").fadeIn(600);
					$(".localidade-cidade").text(cidade);
					$(".localidade-uf").text(uf);
					requisicaoIdClimaTempo(cidade, uf);
				}
			}).fail(function() {
				erroConsulta(".alert-erro-consulta");
			});
		}

		function requisicaoIdClimaTempo(cidade, uf) {
			let url = "https://apiadvisor.climatempo.com.br/api/v1/locale/city?name="
					+ cidade
					+ "&state="
					+ uf
					+ "&token=c1cdba8979fd4fb41bf76d03b1d04eb9";
			$.get(url, function(data) {
				let idCidade = data[0].id;
				previsaoDoTempo(idCidade);
				previsaoDaSemana(idCidade);
			}).fail(function() {
				erroConsulta(".alert-erro-consulta");
			});
		}

		function previsaoDoTempo(id) {
			let urlHoje = "https://apiadvisor.climatempo.com.br/api/v1/weather/locale/"
					+ id + "/current?token=c1cdba8979fd4fb41bf76d03b1d04eb9";
			$.get(urlHoje, atualizarCardTempo);
		}

		function atualizarCardTempo(data) {
			$(".card-tempo-hoje").text(
					capturarDataHoje().split("").slice(0, 5).join(""))
			$(".card-tempo-temperatura-temp").text(data.data.temperature + "º");
			$(".card-tempo-condicao").text(data.data.condition);
			$(".card-tempo-caracteristicas-umidade-valor").text(
					data.data.humidity + " %");
			$(".card-tempo-caracteristicas-sensacao-valor").text(
					data.data.sensation + " º");
			$(".card-tempo-caracteristicas-vento-valor").text(
					data.data.wind_velocity + " km/h");
			$(".card-tempo").fadeIn(200);
		}

		function previsaoDaSemana(id) {
			let hoje = capturarDataHoje();
			let url = "https://apiadvisor.climatempo.com.br/api/v1/forecast/locale/"
					+ id + "/days/15?token=c1cdba8979fd4fb41bf76d03b1d04eb9";
			$.get(url, atualizarCardTempoSemana);
		}

		function atualizarCardTempoSemana(data) {
			let arrDatas = data.data;
			let arrDatasPrevisao = arrDatas.slice(1, 6);
			let counter = 1;
			$(arrDatasPrevisao).each(function(data) {
				let cardDia = ".semana-dia-" + counter;
				$(cardDia).fadeIn(200);

				let dia = arrDatasPrevisao[data].date_br.slice(0, 5);
				$(cardDia + " .card-tempo-semana-dia-data").text(dia);

				let min = arrDatasPrevisao[data].temperature.min;
				$(cardDia + " .card-tempo-semana-temp-min-val").text(min);

				let max = arrDatasPrevisao[data].temperature.max;
				$(cardDia + " .card-tempo-semana-temp-max-val").text(max);

				counter++;
			});

			$(".waiting").fadeOut(200);
		}

		function capturarDataHoje() {
			let date = new Date();
			let day = date.getDate();
			let month = date.getMonth() + 1;
			if (month < 10) {
				month = "0" + month;
			}
			let year = date.getFullYear();
			let fulldate = day + "/" + month + "/" + year;
			return fulldate;
		}

		function erroConsulta(alerta) {
			$(".waiting").fadeOut(200);
			$(alerta).fadeIn(200);
			setTimeout(function() {
				$(alerta).fadeOut(200);
			}, 5000)
		}
	</script>

	<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>
</body>
</html>