<!DOCTYPE html>
<html lang="pt_br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSemana3="1938479512">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Editar Dependente</title>
</head>

<body>
	<div class="topnav" id="myTopnav">
		<a href="/">Início</a>
		<div class="dropdown">
			<button class="dropbtn"> Cliente </button>
			<div class="dropdown-content">
				<a class="active" href="/adicionarCliente">Adicionar Cliente</a>
				<a href="/listarClientes">Listar Clientes</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Produto</button>
			<div class="dropdown-content">
				<a href="/adicionarProduto">Adicionar Produto</a>
				<a href="/listarProdutos">Listar Produtos</a>
			</div>
		</div>
		<a href="/public/sobre.html">Sobre</a>
		<a href="javascript:void(0);" style="font-size: 15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<div>
		<center>
			<h1>Cadastrar Dependente</h1>
		</center>
	</div>

	<form method="POST" th:object="${dependente}" th:action="@{editarDependente}">
		<div class="box">
			<h3>Dados Pessoais</h3>
			<label for="fname">Nome Completo</label>
			<input type="text" placeholder="Seu nome completo" th:field="*{nomeDependente}" required />
			<label for="fname">Data de Nascimento</label>
			<input type="date" name="dataNascimento" id="dataNascimento" th:field="*{dataNascimento}" required />
			<label for="sexo">Gênero</label>
			<select th:field="*{genero}" id="genero" name="genero">
				<option value="" disabled selected="selected">Escolha</option>
				<option value="Masculino">Masculino</option>
				<option value="Feminino">Feminino</option>
				<option value="Não Informar">Não Informar</option>
			</select>

			<input type="reset"  value="Limpar">
			<input type="submit" value="Cadastrar">
	</form>
		</div>

	<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>

</body>

</html>