<!DOCTYPE html>
<html lang="pt_br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSemana3="1653197272">
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Inicio</title>
</head>

<body>

	<div class="topnav" id="myTopnav">
		<a href="/" class="active">Início</a>
		<div class="dropdown">
			<button class="dropbtn"> Cliente <i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="/adicionarCliente">Adicionar Cliente</a>
				<a href="/listarClientes">Listar Clientes</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn"> Produto <i class="fa fa-caret-down"></i></button>
			<div class="dropdown-content">
				<a href="/adicionarProduto">Adicionar Produto</a>
				<a  href="/listarProdutos">Listar Produtos</a>
			</div>
		</div>
		<a  href="/public/sobre.html">Sobre</a>
		<a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<div class="container">
		<center>
			<h1>AgroPopShop</h1>
			<p>
				<img th:src="@{/imagens/agroPopShop.jpg}"
					alt="Um pássaro branco dentro de um triângulo. E um trevo com 6 folhas."
					title="Agro Pop Shop" height="192" width="263">
			</p>
		</center>
	</div>
	
	<script>
	function myFunction() {
  		var x = document.getElementById("myTopnav");
  		if (x.className === "topnav") {
    		x.className += " responsive";
  		} else {
    		x.className = "topnav";
  		}
	}
	</script>

</body>

</html>