<!DOCTYPE html>
<html lang="pt_br">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta codigoSemana3="1938479512">
<link rel="stylesheet" th:href="@{/css/busca-produto.css} " >
<link th:href="@{/css/style.css}" rel="stylesheet" />
<title>Listar Produtos</title>
</head>

<body>
	<div class="topnav" id="myTopnav">
		<a href="/">Início</a>
		<div class="dropdown">
			<button class="dropbtn">Cliente</button>
			<div class="dropdown-content">
				<a href="/adicionarCliente">Adicionar Cliente</a> <a
					href="/listarClientes">Listar Clientes</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">Produto</button>
			<div class="dropdown-content">
				<a href="/adicionarProduto">Adicionar Produto</a> <a class="active"
					href="/listarProdutos">Listar Produtos</a>
			</div>
		</div>
		<a href="/public/contato.html">Contato</a> <a
			href="/public/sobre.html">Sobre</a> <a href="javascript:void(0);"
			style="font-size: 15px;" class="icon" onclick="myFunction()">&#9776;</a>
	</div>

	<div>
		<center>
			<h1>Lista de Produtos</h1>
		</center>
	</div>

	<div style="overflow-x: auto;">
	
		<table>
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome do Produto</th>
					<th>Marca</th>
					<th>Preço</th>
					<th>Altura</th>
					<th>Largura</th>
					<th>Profundidade</th>
					<th>Peso</th>
					<th>Volume do Produto</th>
					<!-- <th>Imagem</th> -->
					<th>Editar</th>
					<th>Remover</th>
				</tr>

			</thead>
			<tbody>
				<tr th:each="produto: ${produtos}">
					<td th:text="${produto.id}"></td>
					<td th:text="${produto.nomeProduto}"></td>
					<td th:text="${produto.marca}"></td>
					<td th:text="${produto.preco}"></td>
					<td th:text="${produto.altura}"></td>
					<td th:text="${produto.largura}"></td>
					<td th:text="${produto.profundidade}"></td>
					<td th:text="${produto.peso}"></td>
					<td th:text="${produto.volume_produto}"></td>
					<!-- <td th:text="${produto.image}"></td> -->
					
					<td><a th:href="@{/editarProduto/{id}(id=${produto.id})}">Editar</a>
					</td>
					<td><a th:href="@{/removerProduto/{id}(id=${produto.id})}">Remover</a>
					</td>
				</tr>
			<tbody>
		</table>
	</div>

	<script>
		function myFunction() {
			var x = document.getElementById("myTopnav");
			if (x.className === "topnav") {
				x.className += " responsive";
			} else {
				x.className = "topnav";
			}
		}
	</script>
</body>
</html>